tags
*.toc
*.out
*.xwm
*.log
*.pdf
*.aux
*.lof
*.lot
*.swp
*.swo
*.swq
*.dat
*.o
*.c
*.mod
*.o
*.png
*.mod
*.txt
*.dat
*mp4
python-code/python-code/data/*
python-code/media/*
FORTRAN-examples/hw4/advection
FORTRAN-examples/hw4/fftw_test/*
FORTRAN-examples/hw5/diffusion
FORTRAN-examples/tutorial-6-5/wave
FORTRAN-examples/tutorial-7/plotter
python-code/FORTRAN-code/ns_solve
python-code/FORTRAN-2/ns_solve
python-code/FORTRAN-2/ns_solve2
*/temp.py
temp.py
*/plot.py
plot.py
FORTRAN-examples/tutorial-9/linspace
